* {
	color: white;
}

body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	width: 450px;
	height: 800px;
	border: 1px black solid;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 5px;
	background: rgb(2, 0, 36);
	background: linear-gradient(
		180deg,
		rgba(2, 0, 36, 1) 0%,
		rgba(9, 9, 121, 1) 35%,
		rgba(0, 212, 255, 1) 100%
	);
	h1 {
		border-radius: 12px;
		padding: 10px;
		color: white;
		margin-top: 50px;
		font-family: sans-serif;
		font-size: 32px;
		font-weight: 800;
		background: linear-gradient(
			180deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(9, 9, 121, 1) 35%,
			rgba(0, 212, 255, 1) 100%
		);
	}
	.cont {
		margin-top: 50px;
		width: 300px;
		height: 400px;
		border: black 1px solid;
		display: flex;
		align-items: center;
		background: rgb(2, 0, 36);
		background: linear-gradient(
			180deg,
			rgba(2, 0, 36, 1) 0%,
			rgba(1, 139, 237, 1) 9%,
			rgba(0, 212, 255, 1) 100%
		);

		flex-direction: column;
		.name {
			text-align: center;
			font-size: 42px;
			margin-top: 35px;
			text-decoration: underline;
		}
		.region {
			font-size: 24px;
			padding-bottom: 40px;
			text-align: center;
		}
		.values {
			display: flex;
			align-items: center;
			justify-content: space-around;
			width: 100%;
			.wind {
				font-size: 32px;
			}
			.temp {
				font-size: 32px;
			}
		}
	}
	.action {
		margin-top: 40px;
		display: flex;
		button {
			border: 2px solid black;
			font-family: sans-serif;
			width: 100px;
			height: 50px;
			background-color: grey;
			color: white;
			margin-right: 20px;
		}
		button:active {
			border: 1px;
		}
		input {
			padding-left: 20px;
			font-size: 32px;
			width: 200px;
			font-weight: 600;
			background-color: whitesmoke;
			color: black;
		}
	}
}
